<div class="table-container">
    <h3>Sistemas</h3>
    <div class="btn-agregar">
        <button cButton color="success" (click)="addSystems()">Agregar Sistema</button>
    </div>
    
  
    <table cTable striped hover responsive>
      <thead cTableColor="dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let systems of systems let i = index">
          <td>{{ systems.code }}</td>
          <td>
            <span *ngIf="!systems.editing">{{ systems.name }}</span>
            <input cFormControl *ngIf="systems.editing" [(ngModel)]="systems.name" (blur)="saveSystems(systems)">
          </td>
          <td>
            <button cButton color="warning" size="sm" (click)="editSystems(systems)" shape="rounded-pill">
              ✏️
            </button>
          </td>
          <td>
            <button cButton color="danger" size="sm" (click)="deleteSystems(i)" shape="rounded-pill">
              🗑️
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>