.table-container {
    width: 100%;
    margin: auto;
    padding: 10px;
    background: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
    h3 {
      text-align: left;
      margin-bottom: 10px;
    }
  
    button {
      margin-bottom: 10px;

    }

    .btn-agregar{
        display: flex;
        justify-content: flex-end;
    }
  
    table {
      background: white;
      border-radius: 5px;
      overflow: hidden;
    }
  
    th, td {
      text-align: left;
      padding: 8px;
    }
  }